* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  background-color: rgb(35, 35, 38);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  overflow-x: none;
}

header .heading {
  margin: 2rem;
  font-size: 4rem;
  color: rgb(111, 171, 231);
  text-align: center;
}

footer {
  padding: 2em;
}
footer p {
  font-size: 2rem;
  color: rgb(200, 208, 215);
}
footer p:first-child {
  margin-bottom: 1rem;
  font-weight: bold;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1200px) {
  .app {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.app .daily-activity,
.app .statistics,
.app .weekly-activity {
  width: 100%;
}

.daily-activity {
  background-color: red;
}

.statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
@media (min-width: 1200px) {
  .statistics {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.weekly-activity {
  background-color: blue;
}

.progress {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: conic-gradient(rgb(78, 123, 169) 0%, rgb(200, 208, 215) 0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: 5rem;
}
.progress__percentage, .progress__consumed-amount {
  z-index: 1;
}
.progress__percentage {
  font-size: 6rem;
  font-weight: 700;
  color: rgb(111, 171, 231);
}
.progress__consumed-amount {
  font-size: 4rem;
  color: rgb(78, 123, 169);
}
.progress::before {
  content: "";
  position: absolute;
  height: 250px;
  width: 250px;
  background-color: rgb(35, 35, 38);
  border-radius: 50%;
}

.stats {
  margin-top: 2rem;
}

.daily-requirement,
.remaining {
  line-height: 150%;
  font-size: 2rem;
  color: rgb(200, 208, 215);
}
.daily-requirement__stat,
.remaining__stat {
  font-weight: 700;
  color: rgb(111, 171, 231);
}

.drinks {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  background-color: lime;
}
@media (min-width: 1200px) {
  .drinks {
    grid-template-columns: repeat(3, 1fr);
  }
}
.drinks .drink {
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
  padding: 1em;
  background-color: yellow;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}/*# sourceMappingURL=index.css.map */